/* MUY Buena practica pero innecesaria si usas BS */
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  height: 100vh;
  background-image: url('https://images6.alphacoders.com/599/599197.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

#palabraOculta {
  background-color: rgb(0, 0, 0, .5);
}

#letraUsuario {
  font-size: 4rem;
  line-height: 4rem;
  width: 10rem;
}